@import 'fonts.scss';

// https://github.com/pmarsceill/just-the-docs/blob/master/_sass/support/_variables.scss

$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: "Mark", sans-serif;

body {
  height: 100%;
  font-family: $bodyFont;
  font-weight: 400;
  background: $backgroundColor;
  color: $bodyColor;
  text-rendering: optimizeLegibility;
}

.nav-list .nav-list-item {
  font-size: 14px !important;

  display: inline-flex;
  border: 1px solid #e5e8ee;
  border-left: 0px;
  border-right: 0;
  padding: 10px 0;
  width: 100%;

  &::before {
    content: "📖";
    display: flex;
    align-items: center;
  }

  .nav-list-link {
    color: #132193;
  }
}

.whatsapp__float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}
